[submodule "lib/vendor/propel"]
	path = lib/vendor/propel
	url = git://github.com/northway/Propel.git
[submodule "lib/vendor/phing"]
	path = lib/vendor/phing
    url = git://github.com/northway/phing.git
